<div class="tvshow" style="margin-top: 57vh;">
    <app-slider 
      *ngIf="popular" 
      title="Popular" 
      [movies]="popular">
    </app-slider>
    <app-slider 
      *ngIf="airingToday" 
      title="Airing Today" 
      [movies]="airingToday">
    </app-slider>
    <app-slider 
      *ngIf="trending" 
      title="Trending" 
      [movies]="trending">
    </app-slider>
    <app-slider 
      *ngIf="topRated" 
      title="Top Rated" 
      [movies]="topRated">
    </app-slider>
    <app-slider 
      *ngIf="onAir" 
      title="On Air" 
      [movies]="onAir">
    </app-slider>    
</div>
