<h2>{{ title }}</h2>

<div class="movie">
    <div class="movie__images">
        <div class="thumbnails">
            <div class="movie__slider">
                <button
                    *ngIf="moveLeftIsVisible()" 
                    class="movie__move movie__move-left" 
                    (click)="scrollCarousel('l')">
                    <span class="material-icons-outlined">arrow_back_ios</span>
                </button>
                <div class="movie__carousel" id="movie__carousel" #carousel>
                    <div 
                        class="slick-item" 
                        *ngFor="let m of movies.results"> 
                        <img 
                            src="https://image.tmdb.org/t/p/w200{{m?.poster_path}}" 
                            alt="{{ m.title }}" 
                            title="{{ m.title }}"
                            (click)="showPreview(m)"
                        >
                    </div>
                </div>
                <button
                    *ngIf="moveRightIsVisible()"  
                    class="movie__move movie__move-right" 
                    (click)="scrollCarousel('r')">
                    <span class="material-icons-outlined">arrow_forward_ios</span>
                </button>
            </div>
        </div>
    </div>
</div>