<div class="header">
    <!-- BANNER AREA -->    
    <div class="header__banner"
        [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'}"
    >
        <h2 *ngIf="headerMovie">{{ headerMovie.title ? headerMovie.title : headerMovie.name }}</h2>  
        <span class="header__banner-description" *ngIf="headerMovie">{{ headerMovie.overview }}</span>
        <div class="header__buttons">
            <button class="play-button">
                <span class="material-icons">arrow_right</span>
                <span>Play</span>
            </button>

            <button (click)="showMoreInfo()" class="more-button">
                <span class="material-icons-outlined">info</span>
                <span>More info</span>
            </button>
        </div>
    </div> <!-- BANNER AREA END -->

    <!-- MAIN AREA -->
    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
        <div class="header__left">
            <a routerLink="/">
                <img src="assets/netflix.svg" alt="logo">
            </a>

            <ul>
                <li [ngClass]="{ active: sections.home }" (click)="setSection('home')"><a routerLink="/home">Home</a></li>
                <li [ngClass]="{ active: sections.tvshows }" (click)="setSection('tvshows')"><a routerLink="/tvshows">TV Shows</a></li>
                <li [ngClass]="{ active: sections.movies }" (click)="setSection('movies')"><a routerLink="/movies">Movies</a></li>
                <li [ngClass]="{ active: sections.latest }" (click)="setSection('latest')"><a href="#">Latest</a></li>
                <li [ngClass]="{ active: sections.myList }" (click)="setSection('myList')"><a href="#">My List</a></li>
            </ul>
        </div>

        <div class="header__right">
            <ul>
                <li>
                    <a href="#">
                        <span class="material-icons">search</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Children
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="material-icons">notifications</span>
                    </a>
                </li>
                <li>
                    <img class="header__avatar" src="https://occ-0-1931-1740.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABSW0UNNli3gsZrSbeWHjihXysx4FyIMacQAIYgySRBeSjtAIgBodupje5grkEp8wdzVxUmnzqV0nPS8HSwp8Tu8.png?r=478" alt="avatar">
                </li>
            </ul>
        </div>
    </div> <!--MAIN AREA END-->    
</div>
