<div class="my-list" style="margin-top: 62vh;">
    <ng-container *ngIf="movieList.length">
        <div
            class="my-list__moviecard"
            *ngFor="let m of movieList">
            <img 
                *ngIf="m.poster_path"
                src="https://image.tmdb.org/t/p/w200{{m.poster_path}}" 
                alt="{{ m.title }}" 
                title="{{ m.title }}"
                class="my-list__img"
                (click)="showPreview(m)"
            >
        </div>
    </ng-container>
</div>
