.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;

    &__banner{
        background-position: top center;
        background-size: cover;
        width: 100%;
        position: absolute;
        height: 90vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-size: 6rem;
            margin-left: 3rem;
            margin-bottom: 3rem;
            margin-top: 3rem;
            line-height: 7rem;
            color: lightgray;
        }

        &-info{
            display: flex;
            flex-flow: column nowrap;
        }

        &-description{
            margin-left: 3rem;
            font-size: 1.4rem;
            color: lightgray;
            margin-bottom: 3rem;
            line-height: 27px;
        }

        .header__buttons{
            display: flex;
            margin-bottom: 5rem;

            button{
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 20px;
                padding: 10px 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                margin-left: 3rem;
                cursor: pointer;
                .material-icons, .material-icons-outlined{
                    transform: scale(1.25);
                }
                &:hover{
                    background-color: rgba(183, 184, 182);
                }
            }

            button.play-button{
                span{
                    font-size: 24px;
                    font-weight: 600;
                }
                .material-icons{
                    transform: scale(2.2);
                }
            }

            button.more-button{
                background-color: rgba(112, 113, 109, 0.7);
                margin-left: 1rem;
                &:hover{
                    background-color: rgba(90, 91, 90, 0.7);
                }
                
                .material-icons-outlined{
                    color: lightgray;
                }

                span{
                    font-size: 24px;
                    font-weight: 500;
                    color: white;
                }
            }

        }
    } // BANNER ENDs

    &__main{
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-between;
        z-index: 10;
        position: fixed;
        top: 0;
        transition: all 0.3s;
        transition-timing-function: ease-in;

        &.sticky{
            background-color: #0D0D0D;
            z-index: 100;
        }
    }

    &__left{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 50px;

        img{
            margin-left: 40px;
            height: 100%;
            width: 100px;
            margin-top: 5px;
        }

        li.active{
            a{
                color: white;
            }
        }
    }

    &__right ul{
        flex: 1;
        margin-right: 45px;
        display: flex;
        align-items: center;
        gap: 30px;

        li a{
            color: white;
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0.8px;

            > .material-icons{
                margin-top: 5px;
                font-weight: 600;
            }
        }
    }

    &__avatar{
        border-radius: 4px;
    }
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;

    a {
        display: inline-block;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
        color: #a4a4a4;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        transition: all 0.2s ease;
    
        &:hover {
            color: #696969;
        }
    }
}